<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Achievements</h2>
<div class="summary">
    <ul>
      <li>Overall GPA: 3.86/4.0,  91.7/100</li>
      <li>Major GPA:   3.90/4.0,  91.7/100</li>
      <li>Ranking:       1 out of 20 </li>
    </ul>
    <hr align="center" width="800" size="1" />
<blockquote>
      <blockquote>
        <p align="justify">National Scholarship  (Top1%), Minister of Education, China</p>
      </blockquote>
      <div class="time">10/2016</div>
  </div><!--//upper-row-->
      <blockquote>
        <p align="justify">Poling  Scholarship, School of Chemistry, Nankai University</p>
      </blockquote>
      <div class="time">10/2016</div>
      </div><!--//upper-row-->
      <blockquote>
        <p align="justify"><em>Excellent  Student Leader Honor</em>, Nankai University</p>
      </blockquote>
      <div class="time">10/2016</div>
      </div><!--//upper-row-->
      <blockquote>
        <p align="justify">The First Prize  of Chemistry Competition for College Students (Top10%), Tianjin</p>
      </blockquote>
      <div class="time">05/2016</div>
      </div><!--//upper-row-->
      <blockquote>
        <p align="justify">Poling  Scholarship, School of Chemistry, Nankai University</p>
      </blockquote>
      <div class="time">03/2016</div>
      </div><!--//upper-row-->
      <blockquote>
        <p align="justify">National  Scholarship (Top1%), Minister of Education, China</p>
      </blockquote>
      <div class="time">10/2015</div>
      </div><!--//upper-row-->
      <blockquote>
        <p align="justify"><em>Triple  A Student Honor</em>, Nankai University</p>
      </blockquote>
      <div class="time">10/2015</div>
      </div><!--//upper-row-->
    </blockquote>
    <p align="justify">&nbsp; </p>
<p align="justify">&nbsp;</p>
</div><!--//summary-->
</section><!--//section-->