<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Achievements</h2>
<div class="summary">
    <ul>
      <li>
        <div align="left">Overall GPA: 3.86/4.0,  91.7/100</div>
      </li>
      <li>
        <div align="left">Major GPA:   3.90/4.0,  91.7/100</div>
      </li>
      <li>
        <div align="left">Ranking:       1 out of 20      </div>
      </li>
    </ul>
    <div align="left">
      <blockquote>&nbsp;</blockquote>
    </div>
    <blockquote>
      <p align="left">National Scholarship  (Top1%), Minister of Education, China</p>
      </blockquote>
      <div class="time">
        <div align="left">10/2016</div>
      </div>
  </div>
<div align="left"><!--//upper-row--></div>
<blockquote>
  <p align="left">Poling  Scholarship, School of Chemistry, Nankai University</p>
</blockquote>
      <div class="time">
        <div align="left">10/2016</div>
      </div>
      <div align="left">
        </div>
      </div>
      <blockquote>
        <p align="left"><em>Excellent  Student Leader Honor</em>, Nankai University</p>
      </blockquote>
      <div class="time">
        <div align="left">10/2016</div>
      </div>
      <div align="left"><!--//upper-row-->  
      </div>
      <blockquote>
        <p align="left">The First Prize  of Chemistry Competition for College Students (Top10%), Tianjin</p>
      </blockquote>
      <div class="time">
        <div align="left">05/2016</div>
      </div>
      <div align="left">
        </div>
      <!--//upper-row-->      
      </div>
      <blockquote>
        <p align="left">Poling  Scholarship, School of Chemistry, Nankai University</p>
      </blockquote>
      <div class="time">
        <div align="left">03/2016</div>
      </div>
      <div align="left">
        </div>
      </div>
      <blockquote>
        <p align="left">National  Scholarship (Top1%), Minister of Education, China</p>
      </blockquote>
      <div class="time">
        <div align="left">10/2015</div>
      </div>
      <div align="left"><!--//upper-row-->  </div>
      <blockquote>
        <p align="left"><em>Triple  A Student Honor</em>, Nankai University</p>
      </blockquote>
      <div class="time">
        <div align="left">10/2015</div>
      </div>
      </div><!--//upper-row-->
    </blockquote>
    <p align="justify">&nbsp; </p>
<p align="justify">&nbsp;</p>
</div><!--//summary-->
</section><!--//section-->