<style type="text/css">
.section.summary-section .summary ul {
}
.section.summary-section .summary blockquote p {
}
.section.summary-section .summary blockquote table {
}
</style>
<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Achievements</h2>
<div class="summary">
  <p>GPA :</p>
  <ul>
      <li>Overall GPA: 3.86/4.0,  91.7/100</li>
      <li>Major GPA:   3.90/4.0,  91.7/100</li>
      <li>Ranking:       1 out of 20    </li>
    </ul>
    <p>Honors and Awards:</p>
    <blockquote>
      <table width="554" border="0">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="483">National  Scholarship (Top1%), Minister of Education, China</td>
          <td width="61">10/2016</td>
        </tr>
        <tr>
          <td>Poling  Scholarship, School of Chemistry, Nankai University</td>
          <td>10/2016</td>
        </tr>
        <tr>
          <td><em>Excellent  Student Leader</em> Honor, Nankai University </td>
          <td>10/2016</td>
        </tr>
        <tr>
          <td>The  First Prize of Chemistry Competition for College Students (Top10%), Tianjin</td>
          <td>05/2016</td>
        </tr>
        <tr>
          <td>Poling  Scholarship, School of Chemistry, Nankai University</td>
          <td>03/2016</td>
        </tr>
        <tr>
          <td>National  Scholarship (Top1%), Minister of Education, China</td>
          <td>10/2015</td>
        </tr>
        <tr>
          <td><em>Triple A Student</em> Honor, Nankai University</td>
          <td>10/2015</td>
        </tr>
      </table>
      <p align="left">                    </p>
    </blockquote>
</div><!--//summary-->
</section><!--//section-->