<style type="text/css">
.section.experiences-section .item .details blockquote p {
	font-size: 14px;
}
</style>
<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experiences</h2>
   
	                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Research Intern<strong>, Advisor: Prof. T. David Harris</strong></h3>
                            <div class="time">10/2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Department of Chemistry, Northwestern University, IL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Researched on honeycomb metal-organic magnets based on semiquinoid-radical linkers.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

           <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Emerging Scholar<strong>, Laboratory Research Experience Program</strong></h3>
                            <div class="time">10/2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">College of Chemistry, UC Berkeley, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Synthesized superacidic MOF-808 by ligand exchange and catalyzed cyclization of citronellal.</li>
			<li>Received trainings of modelling and synthesis of covalent organic frameworks (COFs).</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
	
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Research Assistant<strong>, Advisor: Prof. Wei Shi</strong></h3>
                            <div class="time">10/2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Key  Laboratory of Advanced Energy Materials Chemistry, Nankai University, Tianjin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Polymerized polypyrrole into channels of <em>Metal-Organic Frameworks (MOFs)</em> to improve conductivity.</li>
                          <li>Coated the hybrid materials onto ITO glass to obtain thin films to detect volatile organic compounds.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><strong>Research Assistant,  Advisor: Prof. Shoufei Zhu</strong></h3>
                            <div class="time">03/2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Institute  of Elemeto-Organic Chemistry, Nankai University, Tianjin</div>
                    </div><!--//meta-->
                    <div class="details">
<blockquote>
                        <p> &#8226;Studied on <em>Metal carbene mediated reactions of 1,3-diketones and α-aryldiazoesters</em> (funded by the <em>Tianjin Undergraduate Innovation Project</em>).                     </p>
        <p>&#8226;Calculated mechanisms, optimized reaction  conditions, synthesized substrates and sought out synthetic applications of the  reactions.</p>
</blockquote>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><strong>Attending Student, Advisor: Prof. Shoufei Zhu</strong></h3>
                            <div class="time">06/2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Institute  of Elemeto-Organic Chemistry, Nankai University, Tianjin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Received technical  trainings of organic synthesis and structural characterizations.</li>
                          <li>Applied theoretical  knowledge into practical use, solved problems encountered in the laboratory and  learnt how to execute research.                    </li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->
