<style type="text/css">
.section.experiences-section .item .details blockquote p {
	font-size: 14px;
}
</style>
<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Research Assistant<strong>, Advisor: Prof. Wei Shi</strong></h3>
                            <div class="time">10/2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Key  Laboratory of Advanced Energy Materials Chemistry, Nankai University, Tianjin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Received trainings of  preparations and characterizations of <em>Metal-Organic  Frameworks (MOFs)</em>.</li>
                          <li>Utilized organic  synthetic knowledge to prepare ligands.</li>
                          <li>Conducted a project  to design new chiral <em>MOFs</em>.                    </li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><strong>Research Assistant,  Advisor: Prof. Shoufei Zhu</strong></h3>
                            <div class="time">03/2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Institute  of Elemeto-Organic Chemistry, Nankai University, Tianjin</div>
                    </div><!--//meta-->
                    <div class="details">
<blockquote>
                        <p> &#8226;Studied on <em>C-C bond insertion reaction of 1,3-diketones  to α-aryldiazoesters under metal carbene catalysit</em> in Prof. Qilin Zhou and  Prof. Shoufei Zhu&rsquo;s group (funded by the <em>Tianjin Undergraduate Innovation Project</em>).                     </p>
        <p>&#8226;Optimized reaction  conditions, synthesized substrates and sought out synthetic applications of the  reactions.</p>
</blockquote>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><strong>Attending Student, Advisor: Prof. Shoufei Zhu</strong></h3>
                            <div class="time">06/2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Institute  of Elemeto-Organic Chemistry, Nankai University, Tianjin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Received systematic  trainings of organic synthesis and structural characterizations.</li>
                          <li>Applied theoretical  knowledge into practical use, solved problems encountered in the laboratory and  learnt how to execute research.                    </li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><strong>Attending Student</strong></h3>
                            <div class="time">12/2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Class  presentation for <em>Frontiers of Chemistry</em>,  Nankai University, Tianjin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>

                          <li>Wrote and presented a  review about the recent progress of homogeneous nickel catalyzed reaction.</li>
                          <li>Published the review  in <em>Poling Academic Journal</em>.</li>
                          <li>Inspired my interest  in the field of transition metal catalysis.                  </li>
                        </ul>
                  </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->