<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Extracurricular Activities</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Class supervisor for Poling Class 2015<strong></strong></h3>
                            <div class="time">09/2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">College of Chemistry, Nankai University, Tianjin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Organized freshmen to attend class meetings, campus tour and other  activities.</li>
                          <li>Gave lectures on advanced mathematics, inorganic and analytical chemistry to  address the needs of freshmen.</li>
                          <li>Worked as the assistant for Poling&rsquo;s teachers.</li>
                          <li>Participated in organization of a monthly academic lecture.</li>
                        </ul>
                        <p>&nbsp;</p>
                  </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">A member of the rural construction research team of Nankai University</h3>
                            <div class="time">07/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Huaxi Village, Jiangsu Province</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Visited rural areas in south Jiangsu and did a survey among local people.</li>
                          <li>Analyzed statistics and wrote a paper about economic elements in the development of Huaxi Village.</li>
                        </ul>
                        <p>&nbsp;</p>
                  </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><strong>Voluntary Experience</strong></h3>
                            <div class="time"></div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Gave an introductory session in Zhenhai High School. Ningbo, Zhejiang Province, 01/2015</li>
                          <li>Utilized spare time to take care of children  with cerebral palsy. Tianjin, 09/2015-Present</li>
                          <li>Participated in the reception for  new students. College of Chemistry, Nankai University, 08/2015                          </li>
                          <li>Participated in construction for the new campus of Nankai University.Tianjin, 08/2015</li>
                          <li>Served in enrollment for foreign students. College of Foreign Language, Nankai University, 09/2016</li>
                        </ul>
                        <p>&nbsp;</p>  
  </div><!--//item-->
            </section><!--//section-->