<section class="skills-section section">
                <h2 align="left" class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Ability</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 align="left" class="level-title">Organic Synthesis</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div>
                        <div align="left"><!--//level-bar-->                                 
                        </div>
                    </div>
                    <div align="left"><!--//item-->
                      
                    </div>
                    <div class="item">
                        <h3 align="left" class="level-title">Characterization</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>                                      
                        </div>
                        <div align="left"><!--//level-bar-->                                 
                        </div>
                    </div>
                    <div align="left"><!--//item-->
                      
                    </div>
                    <div class="item">
                        <h3 align="left" class="level-title">Computer</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div>
                        <div align="left"><!--//level-bar-->                                 
                        </div>
                    </div>
                    <div align="left"><!--//item-->
                      
                    </div>
                    <div class="item">
                        <h3 align="left" class="level-title">Communication</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div>
                        <div align="left"><!--//level-bar-->                                 
                        </div>
                    </div>
                    <div align="left"><!--//item-->
                      
                    </div>
                    <div class="item">
                        <h3 align="left" class="level-title">Cooperation</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div>
                        <div align="left"><!--//level-bar-->                                 
                        </div>
                    </div>
                    <div align="left"><!--//item-->
                      
                    </div>
                    <div class="item">
                        <h3 align="left" class="level-title">Creativity</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">
                            </div>                                      
                        </div>
                        <div align="left"><!--//level-bar-->                                 
                        </div>
                    </div>
                    <div align="left"><!--//item-->
                      
                    </div>
                  <div class="details">
                         <div align="left">
                            <ul>
                              <li>Computer skills: C++, Chemdraw®, SciFinder®,  Gaussian 09®, OLEX2 ®</li>
                              <li>Characterization skills: HPLC, NMR and single crystal  diffractometer </li>
                            </ul>
                    </div>
                         <ul>
                         </ul>
                    </div><!--//details-->
  </div><!--//item-->
                </div>  
            </section><!--//skills-section-->